.list {
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-style: dashed;
  border-radius: 20px;
  width: 400px;
  height: 80vh;
  align-items: center;
  overflow: auto;
}
