.app {
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

.app__right-top {
  border: 1px;
  border-style: dashed;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid black;
  border-style: dashed;
  border-radius: 20px;
  padding: 20px;
  height: 350px;
}

.form__submit {
  margin-top: 10px;
}

@media screen and (max-width: 500px) {
  .app {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
